<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()'>
    <label>Username</label>
    <input type='text' name='username' ng-model='user.username' ng-minlength='5' ng-maxlength='10' required>
    <div ng-messages="signin.username.$error" style="color:red" role="alert">
      <div ng-message='required'>You did not enter a field</div>
      <div ng-message='minlength'>Your field is too short</div>
      <div ng-message='maxlength'>Your field is too long</div>
    </div>

    <label>Password</label>
    <input type="password" name='password' ng-model='user.password' ng-minlength='8' ng-maxlength='16'>
    <p ng-show='signin.password.$error.minlength'>Your password is too short</p>

    <div ng-messages="signin.password.$error" style="color:red" role="alert">
      <div ng-message='minlength'>Your field is too short</div>
      <div ng-message='maxlength'>Your field is too long</div>
    </div>

    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
